.home {
    background-image: url(../css/img/Home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.home-container-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-button {
    background-color: #FDA701;
    width: 194px;
    height: 95px;
    border: none;
    border-radius: 50px;
    
    
    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 67px;
    color: white;
}

.home-button:hover{
  border: none;
  padding: 15px;
  border-radius: 50px;
  box-shadow: inset 0 0 25px #9efc07;
}

@media (max-width: 960px){
  
}

@media (max-width: 640px){
  .home-button {
    background-color: #FDA701;
    width: 170px;
    height: 80px;
    border: none;
    border-radius: 50px;
    
    
    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 67px;
    color: white;
}

}