.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding-right: 20px;
}

.menu li{
    border-bottom: 4px solid transparent ; /*Linha de Borda quando passar o mouse*/
    transition: border-color .5s;
}

.menu li:hover{
    border-color:var(--primary-line-color);
 }

 .menu-bars{
    display: none;
 }

 @media (max-width: 960px){
    .menu{
        display: flex;
        align-items: center;
        gap: 32px;

        font-size: 1.2rem;
        
    }

}

@media (max-width: 640px){
    .menu{
        display: none;
    }

    .menu-bars{
        display: flex;
        padding-right: 32px;
        
    }
   
}