:root{
    --primary-line-color: #14DFDF;
}

body{

    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

header{
    
    width: 100%;/*É relativo ao bloco que esta dentro*/
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.logo-imagem{
    margin-left: 20px;
}

main{

    display: flex;
    flex-direction: column;
    
}

section{
    height: 100vh;
}