.contato-container{
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    gap: 32px;
}

@media (max-width: 960px){
    .contato-container{
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        padding-left: 4%;
        gap: 20px;
    }
    
}