.conteudo-contato-video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

@media (max-width: 960px){
   main{
    display: flex;
    justify-content: center;
    align-items: center;

   }
    .conteudo-contato-video{
        display: flex;
        flex-direction: column;
        
       
    }
    
}



