:root{
    --primary-line-color: #14DFDF;
}

body{font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: black;
}

section{
    display: grid;
    grid-template-areas: 
    "header"
    "main ";

    grid-template-rows: 10% 1fr ;
    height: 100vh;
   
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-titulo{
    padding-left: 32px;
    font-size: 1.2rem;
}


.home li{
    border-bottom: 4px solid transparent ; /*Linha de Borda quando passar o mouse*/
    transition: border-color .5s;
}

.home li:hover{

        border-color:var(--primary-line-color);
     
}

.home{
    padding-right: 20px;
    color: white;
    font-size: 20px;
}

main{
    grid-area: main;
}

@media (max-width: 960px){
    section{
        height: auto;
    }
    header{
        font-size: 0.9rem;
    }

    main{
        padding-top: 32px;
    }
}