body{
   
    height: 100vh;
    background-color: black;
   
}

header{
    
      display: flex;
      
}

main{
    display: flex;
    justify-content: space-around;
    height: 90vh;
}

section{
    height: 100vh;
}

@media (max-width: 960px){
    header{
        max-width: 100vw;
    }

    main.back{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section{
        display: flex;

    }

    
}