body{
    
    background-color: black;
    display: grid;
    grid-template-areas: 
    "title title title"
    "conteudo conteudo conteudo";
}

header{
      grid-area: title;
      display: flex;
      width: 100vw;
}

main{
    grid-area: conteudo;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
}

section{
    height: 100vh;
}

@media (max-width: 960px){
    header{
        max-width: 100vw;
    }

    main.back{
        display: none;
    }

    section{
        display: flex;

    }

    
}