video{
    height: 600px;
}

.imagem-delivery{
    height: 30%;
    
}

@media (max-width: 960px){
    .conteudo-imagem{
        display: none;
       
    }

    video{
        height: 30%;
        
    }
    
}